PORT=3006
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=delivery_db
# Freelance couriers
FREELANCE_ENABLED=false
OFFICE_PRIORITY_WINDOW_MINS=2
FREELANCE_RADIUS_KM=5
FREELANCE_MAX_CASH_HELD=2000
COURIER_LOCATION_STALE_MINUTES=10
